


@* footer içeriğini buraya aldık. *@

<div class="container">
    <div class="row">
        @* ============= *@
        <div class="col-md-6 col-lg-6 col-12">
            <form>
                <div class="input-group">
                    <input type="email" class="form-control">
                    <button type="button" class="btn btn-outline-warning">Abone Ol</button>
                </div>
            </form>
        </div>
        @* ============= *@
        <div class="col-md-6 col-lg-6">

            <nav class="text-center text-md-end">
                <a href="" class="btn btn-icon btn-outline-warning">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="" class="btn btn-icon btn-outline-warning">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="btn btn-icon btn-outline-warning">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="" class="btn btn-icon btn-outline-warning">
                    <i class="fab fa-twitter"></i>
                </a>
            </nav>

        </div>
        @* ============= *@
        <div class="col-12">
            <p class="footer-text">E-Commerce | 2025</p>
            
        </div>
        @* ============= *@
    </div>
</div>   