


@* NAVBAR REGION CATEGORIES *@

<section id="navbar">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="collapse navbar-collapse">
            @* ================== *@
                @await Component.InvokeAsync("Categories")
            @* ================== *@
        </div>
    </nav>
</section>