



@* verilen sayfa bilgisi,kategori ve sayfada bulunacak ürün sayısını vererek gelen action bölümü *@

@model ProductListViewModel



<div class="col">
    @* ================================================= *@

    
        @if(Model.productsData.Count()==0)
        {
            <div class="row-cols-md-4 row-cols-lg-5 row-cols-sm-2 row" id="itemCards">
                @await Html.PartialAsync("_noproduct")
            </div>
           
        }else{
            <div class="row-cols-md-4 row-cols-lg-5 row-cols-sm-2 row" id="itemCards">
                @await Html.PartialAsync("_product",Model)
            </div>
            
            @await Html.PartialAsync("_pagination",Model.PageInfo)
        }
    @* ================================================= *@


</div>